* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/cuenta/background.jpg);
}

/* --------------------------HEADER--------------------------------------------------------- */

.contenido{
    width: 100%;
    height: 100vh;
}

nav .logo{
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-left: 3%;
    width: 210px;
    cursor: pointer;
    max-width: 500px;
}

/* ----------------------------CAJA DEL FORMULARIO------------------------------------------- */

.caja{
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 40%;
    justify-content: center;
    max-width: 600px;
    border-radius: 3px;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 2% 32% 70px 32%;
}

.caja h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.caja .form{
    display: flex;
    flex-direction: column;
}

.caja .form input{
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #333;
    border-radius: 5px;
}
/* Esto es para que el color de lo que escribamos y se quede plasmado en el formulario sea con las
letras en blanco */
input, select,textarea {
    color: white;
}
/* Esto es para que el color de lo que escribamos en el momento durante el que escribimos,
sea con las letras en blanco */
textarea:focus, input:focus {
    color: white;
}

.caja button{
    border: none;
    padding: 15px 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.caja .checkbox{
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 0px;
    margin-bottom: 50px;
}

.recordar{
    display: inline-flex;
}

.recordar label{
    margin-left: 3px;
}

#checkbox1 {
    accent-color: #b3b3b3; /* Esto consigue que al hacer un click en check, podamos ver el check en gris al ponerse el tick */
}

.caja .checkbox div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.caja .checkbox div p:hover {
    text-decoration: underline;
}

.caja .subscripcion p{
    margin: 15px 0px 0 0px;
    color: gray;
}

.caja .subscripcion p span{
    color: white;
    font-weight: 600;
}

.caja .subscripcion p+p{
    font-size: 13px;
}

.caja .subscripcion a{
    color: #0071eb;
    font-weight: normal;
    text-decoration: none;
}

.caja .subscripcion a:hover{
    text-decoration: underline;
}

/* ----------------------------------------FOOTER-------------------------------------------------------------- */

footer{
    padding: 50px 15% 10px;
    color: #777;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10%;
}

footer p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2%;
    max-width: 900px;
}

footer ul{
    /* Con estos dos elementos, conseguimos convertir las columnas de elementos li, a listas horizontales */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    height: 10vh;
    padding: 0px 15px;
}

footer ul li{
    font-size: 14px;
    /* Con este elemento, asignamos el % que ocupa cada elemento en la flexbox */
    width: 25%;
    list-style: none; /* Esto le quita los puntos de lista ordenada a los elementos li */
}

footer .links a {
    text-decoration: none;
    color: #777;
}

footer .links a:hover{
    text-decoration: underline;
}


/* -----------------------ARREGLOS DE CSS PARA PANTALLAS PEQUEÑAS--------------------------------------------------------------- */
@media only screen and (max-width:600px) {
    /* -----------------------ARREGLOS DEL HEADER Y BODY--------------------------------------- */
    body{
        background-image: none;
    }
    
    nav .logo {
        padding-left: 3%;
        padding-top: 3%;
        width: 40%;
    }

    .caja {
        width: 105%;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%px;
        margin: 2% 3% 2% 3%;
    }

    
    .caja .form input {
        padding: 15px;
        margin-bottom: 3%;
        }

    .caja button {
        padding: 15px 37%;
    }

    
    .caja .subscripcion{
        margin-top: -20px;
    }
    
    .caja .subscripcion p span {
        font-weight: 300;        
    }

    /* ---------------------------ARREGLOS FOOTER------------------- */
    footer {
        padding: 5% 7% 3%;
        border-top: 2px solid #333;
    }
    
    footer p {
        font-size: 15px;
        margin-bottom: 7%;
    }
    
    footer ul {
        margin-bottom: 5%;
        padding: 0px;
        height: 15vh;
    }
    
    footer ul li {
        font-size: 12px;
        width: 50%;
    }
    

}