* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/cuenta/background.jpg);
}

/* --------------------------HEADER--------------------------------------------------------- */

.contenido{
    width: 100%;
    height: 100vh;
}

nav .logo{
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-left: 3%;
    width: 210px;
    cursor: pointer;
    max-width: 500px;
}

/* ----------------------------CAJA DEL FORMULARIO------------------------------------------- */

.caja{
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 500px;
    max-width: 800px;
    border-radius: 3px;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 2% 32% 70px 32%;
}

.caja h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.caja .form{
    display: flex;
    flex-direction: column;
}

.caja .form input{
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #333;
    border-radius: 5px;
}
/* Esto es para que el color de lo que escribamos y se quede plasmado en el formulario sea con las
letras en blanco */
input, select,textarea {
    color: white;
}
/* Esto es para que el color de lo que escribamos en el momento durante el que escribimos,
sea con las letras en blanco */
textarea:focus, input:focus {
    color: white;
}

.caja button{
    border: none;
    padding: 15px 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.caja .checkbox{
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 0px;
    margin-bottom: 50px;
}

.recordar{
    display: inline-flex;
}

.recordar label{
    margin-left: 3px;
}

#checkbox1 {
    accent-color: #b3b3b3; /* Esto hace que al hacer un click en check, podamos ver el chech en gris al ponerse el tick */
}

.caja .checkbox div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.caja .checkbox div p:hover {
    text-decoration: underline;
}

.caja .subscripcion p{
    margin: 15px 0px 0 0px;
    color: gray;
}

.caja .subscripcion p span{
    color: white;
    font-weight: 600;
}

.caja .subscripcion p+p{
    font-size: 13px;
}

.caja .subscripcion a{
    color: #0071eb;
    font-weight: normal;
    text-decoration: none;
}

.caja .subscripcion a:hover{
    text-decoration: underline;
}